/*first image*/

.first
{
    border: 1px solid black;
    width: 1390px;
    height:155px;
    overflow: hidden;
    display: block;
    position: relative;    
}

.first img 
{
   width: 1400px;
    height:380px;
    position:absolute;

}

#one
{
    border: 1px solid black;
    width: 1390px;
    height:25px; 
}

/* second image*/

.second
{
    border: 1px solid black;
    overflow: hidden;
    padding-top: 12px;
    width: 1390px;
    height:140px;       
}

.second img
{
    width:1490px;
    height:300px;
    margin:-160px 0 0 -100px;
}

/*third image*/

.third
{
    text-align: center;
    display: block;
    width: 500;
    height: 300;
    
}

